@import url("https://fonts.googleapis.com/css2?family=Sequel:wght@75&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* ====================================GERAL======================================0 */

body {
	margin: 0;
	padding: 0;
	font-family: "Sequel", "Oswald";
  font-weight: 80;
  background-image: url('/../assets/FEUP.jpeg');
  background-size:     cover;       
  background-repeat:   no-repeat;
  background-position: center center; 
}
html {
  position: relative;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* ============================================== HEADER ==================================== */
header {
	background-color: #8C2D19;
	color: white;
	padding: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

#project-title,
#logo {
	margin: 0 auto;
  margin-right: 0;
}
/*==========================LOGIN============================*/
#login {
  margin-left: auto;
  margin-right: 100px;
}

#login-link {
  display: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.logged-out #login-link {
  display: inline-block;
  display: block;
}

#login-link:hover {
  background-color: #ddd;
}

.logged-out #login-link::before {
  content: "\f090";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

.logged-out #login-link:hover::before {
  color: #ff5a5f;
}
/*==========================LOGOUT============================*/
#logout-button {
  display: none;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

#logout-button {
  display: inline-block;
}

#logout-button:hover {
  background-color: #ddd;
}

#logout-button::before {
  content: "\f090";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

#logout-button:hover::before {
  color: #ff5a5f;
}

/*==========================POPUP============================*/
.popup-content {
  text-align: center;
  padding: 20px;
}

.popup-content h3 {
  margin-bottom: 10px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.popup-content button:hover {
  background-color: #ddd;
}
.popup-content #confirm-logout:hover {
  background-color: #333;
  color: #ff5a5f;
}

.popup-content #cancel-logout:hover {
  background-color: #333;
  color: #ddd;
}

/*========================= LOGO FEUP =======================*/
#logo-feup {
	height: 70px;
  padding: 10px;
  margin-left: 30px;
}

/*========================= LOGO ============================*/
#logo {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-right: -250px;
  animation: rotate 1s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*=============================TITULO=========================*/
#project-title {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
	height: 100vh; 
  margin-left: 300px;
}

#project-title h1 ,
#project-title h2  {
	margin: 0;
	text-align: center;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

#project-title h1 a {
	order: -1;
  font-size: 50px;
  color: white;
	text-decoration: none;
}

#project-title h2 a {
	order: 1;
  font-size: 20px;
  color: white;
	text-decoration: none; 
}

/* ===========================FOOTER======================= */
#site-footer {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #8c2c19b9;
	padding: 10px;
	text-align: center;
  margin-top: 327px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 1);
}

/* ========================= MENU =========================================*/

nav {
  z-index: 999;
  background-color:#8c2c19e7;
  padding: 20px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.212);
}

nav a:hover {
  background-color:  #fff;
  color:#333;
}

.nav-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

/*=============================LOGIN=========================*/
.login_form {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.register_header {
  text-align: center;
  margin-bottom: 30px;
}

.register_header h1 {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.register_header p {
  font-size: 16px;
  color: #666;
}

.register_content {
  margin-bottom: 20px;
}

.register_content h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.w3-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.w3-input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  background-color: #8C2D19;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.w3-input[type="submit"]:hover {
  background-color: #6c1f12;
}

.register_button {
  display: block;
  width: auto;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #8C2D19;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.register_button:hover {
  background-color: #6c1f12;
}

#error_messages {
  font-size: 14px;
  text-align: center;
  color: #ff4d4d;
}

/*===========================REGISTER====================*/
.register_header {
  text-align: center;
  margin-bottom: 30px;
}

.register_header p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.register_content {
  margin-bottom: 20px;
}

.register_content.signup {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
}

.register_content h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.w3-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.hint {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.w3-input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  background-color: #8C2D19;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.w3-input[type="submit"]:hover {
  background-color: #6c1f12;
}

.register_button {
  display: block;
  width: auto;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #8C2D19;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.register_button:hover {
  background-color: #6c1f12;
}
/*=============================USER EDIT====================*/
.edit_form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit_form h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.edit_form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit_form .hint {
  font-size: 14px;
  color: #999;
}

.edit_form .current-info {
  margin-top: 20px;
}

.edit_form .current-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.edit_form .current-info p {
  margin: 5px 0;
}

/*=============================PHOTO UPLOAD=================*/
#photo-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-photo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

#photo-upload-container form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

#photo-upload-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#photo-upload-container input[type="file"],
#photo-upload-container input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#photo-upload-container input[type="submit"] {
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
}

#photo-upload-container input[type="submit"]:hover {
  background-color: #6c1f12;
}

#photo-upload-container input[type="submit"]:focus {
  outline: none;
}

#photo-upload-container label {
  font-size: 16px;
  margin-bottom: 10px;
}
/*=============================PHOTO CONTAINER==============*/
#user-photo {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  border: 5px solid #8C2D19;
  border-radius: 50px;
  padding: 0px;
}
#photo-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#photo-upload-container label {
  margin-bottom: 10px;
}

#photo-upload-container input[type="file"] {
  margin-bottom: 10px;
}

#photo-upload-container input[type="submit"] {
  align-self: center;
}
/*=============================CREATE DEPARTMENT==============*/
.create-department {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-department h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-department form {
  display: flex;
  flex-direction: column;
}

.create-department label {
  margin-bottom: 10px;
}

.create-department input[type="text"],
.create-department input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-department input[type="submit"] {
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
}
/*=============================DEPARTMENTS FORM============*/
.departments_form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.departments_form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.departments_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.department {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.department-title {
  font-weight: bold;
  color: #8C2D19;
}

.departments_form ul {
  list-style-type: none;
  padding: 0;
}

.departments_form ul li {
  margin-top: 5px;
}

.departments_form input[type="radio"] {
  margin-right: 5px;
}

.select_button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

/*=============================ABOUT US====================*/
#feed-about {
  max-width: 800px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.page-title {
  text-align: center;
  margin-bottom: 20px;
  color:#8C2D19;
  font-size: 50px;
}

#feed-about p {
  margin-bottom: 15px;
}
/*=============================SELECTED TICKET==============*/
.tickets_form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket {
  margin-bottom: 20px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
  overflow: hidden;
}

.ticket h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.ticket p {
  margin-bottom: 5px;
}

.ticket input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
}

.ticket textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/*=============================TICKETS PAGE=================*/
.tickets_form {
  max-width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tickets_form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  justify-content: center;
}

.ticket-show {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 400px;
}

.ticket-show label {
  margin-left: 10px;
}

.ticket-show p {
  margin-bottom: 5px;
}

.ticket-show input[type="radio"] {
  margin-right: 10px;
}

.tickets_form input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
}

.tickets_form input[type="submit"]:hover {
  background-color: #6c200f;
}



/*=============================ADD TICKET===================*/
.add-ticket-form {
  text-align: center;
  margin: 50px auto;
}

.add-ticket-form button {
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.add-ticket-form button:hover {
  transform: scale(1.1);
}
/*=============================ADD TICKET===================*/
#add_ticket_container {
  text-align: center;
  margin: 20px auto;
}

.add_ticket_form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add_ticket_form h1 {
  margin-bottom: 20px;
}

.add_ticket_form input,
.add_ticket_form textarea,
.add_ticket_form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add_ticket_form button[type="submit"] {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.add_ticket_form input,
.add_ticket_form textarea,
.add_ticket_form select {
  box-sizing: border-box;
}

.add_ticket_form label {
  display: block;
  margin-bottom: 5px;
}


/*=============================FAQ==========================*/
#feed {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  background-color: #f3f3f3;
  padding: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

#feed p {
  margin-bottom: 10px;
}

#feed ul {
  text-align: left;
  list-style-type: disc;
  margin-left: 40px;
}

#feed ul li {
  margin-bottom: 5px;
}

/*=============================ACCORDION FAQ====================*/
.accordion, .accordion-reply {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 15px;
}

.active, .accordion:hover, .accordion-reply:hover {
    background-color: #ccc;
}

.accordion:after, .accordion-reply::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 1em;
    background-color: #edeff0;
    border-radius: 25px;
}


/* Estilo para o accordion */
.accordion {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.accordion .accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.accordion .accordion-header:hover {
  background-color: #e1e1e1;
}

.accordion .accordion-content {
  padding: 10px;
  display: none;
}

.accordion .accordion-content.show {
  display: block;
}

/*=============================DEPARTMENT INFO====================*/
.department-info {
  max-width: 100%;
  padding: 100px;
  background-color: #f2f2f2;
  display:grid ;
  flex-wrap: wrap;
}


.department-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.department-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#edit_department_form {
  margin-bottom: 20px;
}

#edit_department_form label {
  display: block;
  margin-bottom: 5px;
}

#edit_department_form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

#edit_department_form input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
}

form p {
  margin: 10px 0;
}

.delete-department-form {
  margin-bottom: 20px;
}

.delete-department-form p {
  margin: 10px 0;
}

.delete-department-form input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #8C2D19;
  color: white;
  cursor: pointer;
}

.delete-department-form input[type="submit"]:hover {
  background-color: #b63821;
}

.department-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.department-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.department-container .accordion {
  margin-top: 20px;
  max-width: 100%;
}

.department-container .accordion-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.department-container .accordion-header {
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
}

.department-container .accordion-button {
  font-weight: bold;
}

.department-container .accordion-content {
  padding: 10px;
  display: none;
  background-color: #fff;
}

.department-container .accordion-item.active .accordion-content {
  display: block;
}

.department-container form {
  margin-top: 20px;
}






